<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.advisor.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.advisor.entity.User">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="real_name" property="realName" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP"/>
        <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, username, password, email, real_name, status, created_at, updated_at
    </sql>

    <select id="findByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM users
        WHERE username = #{username}
        AND status = 1
    </select>

    <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM users
        WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.advisor.entity.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (username, password, email, real_name, status)
        VALUES (#{username}, #{password}, #{email}, #{realName}, #{status})
    </insert>

    <update id="update" parameterType="com.advisor.entity.User">
        UPDATE users
        SET
        <trim suffixOverrides=",">
            <if test="password != null">password = #{password},</if>
            <if test="email != null">email = #{email},</if>
            <if test="realName != null">real_name = #{realName},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM users WHERE id = #{id}
    </delete>

</mapper> 